<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Scenarios</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!loading">
    <ion-card *ngFor="let scenario of scenarios">
      <ion-card-content no-padding>
        <ion-item>
          <h2 class="inline">{{scenario.name}}</h2>
        </ion-item>

        <ion-item padding-left no-margin>
          <ion-row no-padding no-margin>
            <ion-col col-2 no-padding no-margin>
              <a (click)="editScenario(scenario)" item-left>
                <ion-icon name="create"></ion-icon> EDIT
              </a>
            </ion-col>
            <ion-col (click)="showScenario(scenario)" col-10 text-right no-padding no-margin>
              <a item-right>
                <ion-icon name="arrow-forward"></ion-icon>
              </a>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <p *ngIf="scenarios.length == 0">
      Looks like you don't have a scenario set up, try adding one by clicking in the add button on the bottom right corner.
    </p>

    <ion-fab bottom right>
      <button (click)="newScenario()" ion-fab mini><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  </div>
</ion-content>