<ion-header>
  <ion-navbar>
    <ion-title>
      <div *ngIf="editMode; else new">Edit Thing</div>
      <ng-template #new>New Scenario Thing</ng-template>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form ion-list no-lines padding-bottom [formGroup]="triggeredTaskForm" (ngSubmit)="onSubmit(triggeredTaskForm)">
    <div>
      <ion-segment [(ngModel)]="toApply" (ngModelChange)="onToApplyChange($event)" [ngModelOptions]="{standalone: true}">
        <ion-segment-button value="thing">
          Thing
        </ion-segment-button>
        <ion-segment-button value="scenario">
          Scenario
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="toApply">
      <ion-list *ngSwitchCase="'thing'">
        <ion-item>
          <ion-label>Thing</ion-label>
          <ion-select type="text" formControlName="thing_id">
            <ion-option *ngFor="let thing of assignableThings" [value]=thing.id (ionSelect)="onThingToApplyChange(thing)">
              {{thing.name}}
            </ion-option>
          </ion-select>
        </ion-item>

        <ion-card [hidden]="!triggeredTaskForm.value.thing_id" [class.fade-in]="triggeredTaskForm.value.thing_id">
          <ion-card-content no-padding>
            <div #thingStatus></div>
          </ion-card-content>
        </ion-card>
      </ion-list>

      <ion-list *ngSwitchCase="'scenario'">
        <ion-item>
          <ion-label>Scenario</ion-label>
          <ion-select type="text" formControlName="scenario_id">
            <ion-option *ngFor="let scenario of scenarios" [value]=scenario.id>
              {{scenario.name}}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>

    <h3 padding-top padding-bottom>Comparison Params</h3>

    <ion-item>
      <ion-label>Thing</ion-label>
      <ion-select type="text" formControlName="thing_to_compare_id">
        <ion-option *ngFor="let thing of things" [value]=thing.id>
          {{thing.name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Comparator</ion-label>
      <ion-select type="text" formControlName="comparator">
        <ion-option *ngFor="let comparator of comparators">
          {{comparator}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Status to Compare</ion-label>
      <ion-textarea type="text" formControlName="status_to_compare"></ion-textarea>
    </ion-item>

    <ion-item no-lines *ngIf="!triggeredTaskForm.controls.thing_to_compare_id.valid && triggeredTaskForm.controls.thing_to_compare_id.touched">
      <p>You must provide a valid json object</p>
    </ion-item>

    <button margin-top ion-button full type="submit" [disabled]="!validForm()">SAVE</button>
  </form>
</ion-content>
