<ion-header>
  <ion-navbar>
    <ion-title>
      <div *ngIf="editMode; else new">Edit Thing</div>
      <ng-template #new>New Thing</ng-template>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form ion-list no-lines padding-bottom [formGroup]="thingForm" (ngSubmit)="onSubmit(thingForm)">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item no-lines *ngIf="!thingForm.controls.name.valid  && thingForm.controls.name.dirty">
      <p>You must provide a name</p>
    </ion-item>

    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select type="text" formControlName="type">
        <ion-option *ngFor="let option of typeOptions" [value]=option.type>
          {{option.text}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines *ngIf="!thingForm.controls.type.valid  && thingForm.controls.type.dirty">
      <p>You must provide a type</p>
    </ion-item>

    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select type="text" formControlName="subtype">
        <ion-option *ngFor="let option of subTypeOptions" [value]=option>
          {{option}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines *ngIf="!thingForm.controls.subtype.valid  && thingForm.controls.subtype.dirty">
      <p>You must provide a valid subtype</p>
    </ion-item>


    <div formGroupName="connection_info">
      <ion-item>
        <ion-label>Address</ion-label>
        <ion-input type="text" formControlName="address"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="!thingForm.controls.connection_info.controls.address.valid  && thingForm.controls.connection_info.controls.address.touched">
        <p>A address is required</p>
      </ion-item>

      <ion-item>
        <ion-label>Port</ion-label>
        <ion-input type="text" formControlName="port"></ion-input>
      </ion-item>
    </div>

    <button margin-top ion-button full type="submit" [disabled]="!thingForm.valid">SAVE</button>
  </form>
</ion-content>
