<ion-header>
  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form ion-list no-lines padding-bottom [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm)">
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item no-lines *ngIf="!signUpForm.controls.name.valid  && signUpForm.controls.name.touched">
      <p>You must provide a name</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>

    <ion-item no-lines *ngIf="!signUpForm.controls.email.valid  && signUpForm.controls.email.touched">
      <p>You must provide a valid email</p>
    </ion-item>

    <div formGroupName="passwords">
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <!--ion-item no-lines *ngIf="!signUpForm.controls.password.valid  && signUpForm.controls.password.touched">
        <p>A password is required</p>
      </ion-item-->

      <ion-item>
        <ion-label floating>Confirm your password</ion-label>
        <ion-input type="password" formControlName="password_confirmation"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="!signUpForm.controls.passwords.valid  && signUpForm.controls.passwords.controls.password_confirmation.dirty">
        <p>Passwords don't match!</p>
      </ion-item>
    </div>

    <button margin-top ion-button full type="submit" [disabled]="!signUpForm.valid">Sign up</button>
  </form>
</ion-content>
