<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>

    <ion-item no-lines *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.touched">
      <p>You must provide a valid email</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item no-lines *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.touched">
      <p>You must provide a valid password</p>
    </ion-item>

    <button margin-top ion-button full type="submit" [disabled]="!loginForm.valid">Sign in</button>
  </form>

  <p padding-top text-center> Don't have an account? Sign up <a (click)="goToSignUp()"> HERE </a> </p>
</ion-content>
