.inline {
  display: inline;
}

.font-large {
  font-size: 24px
}

.font-small {
  font-size: 8px
}

@each $value in $colors {
  .#{nth($value, 1)} {
    color: nth($value, 2);
  }
  .bg-#{nth($value, 1)} {
    background-color: nth($value, 2);
  }
  .border-#{nth($value, 1)} {
    border-color: nth($value, 2);
  }
}
