.inline {
  display: inline;
}

.font-large {
  font-size: 24px
}

.font-small {
  font-size: 8px
}

@each $value in $colors {
  .#{nth($value, 1)} {
    color: nth($value, 2);
  }
  .bg-#{nth($value, 1)} {
    background-color: nth($value, 2);
  }
  .border-#{nth($value, 1)} {
    border-color: nth($value, 2);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
