<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Your Homes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!loading">
    <ion-card *ngFor="let home of homes">
      <ion-card-content no-padding>
        <ion-item>
          <h2 class="inline">Name</h2>
          <p class="inline">{{home.name}}</p>
        </ion-item>

        <ion-item>
          <h2 class="inline">Tunnel</h2>
          <p class="inline">{{home.tunnel}}</p>
        </ion-item>

        <ion-item>
          <h2 class="inline">Location</h2>
          <p class="inline">{{home.location}}</p>
        </ion-item>
      </ion-card-content>

      <ion-item padding-left no-margin>
        <a (click)="editHome(home)" item-left>
          <ion-icon name="create"></ion-icon> EDIT</a>
        <a (click)="listThings(home)" item-right>
          <ion-icon name="arrow-forward"></ion-icon>
        </a>
      </ion-item>
    </ion-card>

    <p *ngIf="homes.length == 0">
      Looks like you don't have an home set up, try adding one by clicking in the add button on the bottom right corner.
    </p>

    <ion-fab bottom right>
      <button (click)="newHome()" ion-fab mini><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  </div>
</ion-content>
