<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Your Homes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!loading">
    <ion-card *ngFor="let home of homes">
      <ion-card-header>
        {{home.name}}
      </ion-card-header>

      <ion-card-content>
        <div ion-item>
          Tunnel
          <br/> {{home.tunnel}}
        </div>
        <div ion-item>
          Location
          <br/> {{home.location}}
        </div>
      </ion-card-content>
    </ion-card>

    <p *ngIf="homes.length == 0">
      Looks like you don't have an home set up, try adding one by clicking in the add button on the bottom right corner.
    </p>

    <ion-fab bottom right>
      <button (click)="newHome()" ion-fab mini><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  </div>

  <ion-spinner *ngIf="loading" text-center></ion-spinner>
</ion-content>
