<ion-header>
  <ion-navbar>
    <ion-title>{{scenario.name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-card no-padding *ngFor="let scenarioThing of scenario.scenario_things">
      <ion-card-content>
        <ion-icon class="inline font-large primary" name="{{getIconFromType(scenarioThing.thing.type)}}"></ion-icon>
        <p class="inline">{{scenarioThing.thing.name}}</p>
        <div *ngFor="let key of statusKeys(scenarioThing.status)">
          <p class="capitalize inline">{{key}}:  </p> 
          <p class="capitalize inline">{{scenarioThing.status[key]}}</p>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>